---
layout: default
title: 首页
---
{% include JB/setup %}

<div class="row" id="index">
    <div class="span6">
        <div class="author clearfix">
            <img alt="" src="{{ BASE_PATH }}/assets/images/avatar.jpg" class="avatar img-polaroid" height="80" width="80">
            <span>昵称:</span> <a href="/" target="_blank" title="访问神飞的博客">	小方</a><br>
            <p style="margin-bottom: 0;">从后台转前端的青年，努力奋斗中。现居杭州，找工作中...</p>
            <p>查看<a href="{{ BASE_PATH }}/resume" style="font-size: 16px;">简历</a>，主技术博客在<a href="http://www.cnblogs.com/sprying/">博客园</a>，这里可能有点乱，勿见怪哈^.^</p>
        </div>
        <div class="blog">
            <h2>日志<span>({{ paginator.total_posts}})</span></h2>
            {% for post in paginator.posts %}
            <div class="index_lists radius">
                <h3 class="excerpt">

                    <a href="{{site.url}}{{ post.url }}">{{ post.title }}	</a>

                    <time>{{ post.date | date: '%Y-%m-%d'}}</time>


                </h3>

                <div class="excerpt-post">
                    {% if post.description %}
                    <p>{{ post.description }}</p>
                    {% else %}
                    <p>{{ post.content | strip_html | truncatewords: 2 }}</p>
                    {% endif %}
                    <p  class="more"><span><a  href="{{site.url}}{{ post.url }}">阅读全文...</a></span></p>
                </div>
            </div>
            {% endfor %}
            <div class="index_page">
                {% if paginator.previous_page %}
                {% if paginator.previous_page == 1  %}
                &laquo;&nbsp;<a href="{{ site:url  }}/" class="page">Previous</a>
                {% else  %}
                &laquo;&nbsp;<a href="{{ site:url  }}/page{{ paginator.previous_page }}" class="page">Previous</a>
                {% endif  %}
                {% endif %}
                {% if paginator.next_page %}
                <a href="{{ site:url  }}/page{{ paginator.next_page  }}" class="page">Next</a>&nbsp;&raquo;
                {% endif %}
            </div>
        </div>
    </div>
    <div class="span3">
        <div>
            <h3 class="header"><i class="icon-list-ul"></i> 分类</h3>
            <ul class="side_ul">
                {% for category in site.categories  %}
                <li><a href="{{ site.url }}/categories.html#{{ category[0] }}-ref">{{ category | first  }}({{ category | last | size  }})</a></li>
                {% endfor  %}
            </ul>
        </div>

        <div>
            <h3 class="header"><i class="icon-hand-right"></i> 最近访问</h3>
            <!-- Duoshuo Comment BEGIN -->
            <ul class="ds-recent-visitors"></ul>
            <script type="text/javascript">
                var duoshuoQuery = {short_name: "sprying"};
                (function () {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = 'http://static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
            <!-- Duoshuo Comment END -->
        </div>
        <div>
            <h3 class="header"><i class="icon-comment"></i> 最近评论</h3>
            <ul class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1"
                data-show-admin="1" data-excerpt-length="70"></ul>
        </div>
        <div>
            <h3 class="header" style="margin-top: -2px;"><i class="icon-user"></i> 关于我</h3>
            <ul style="list-style:none;margin-left:0;padding-left: 18px;">
                <li>Email Me</li>
                <li>居住：杭州</li>
                <li>毕业于
                    <small><a href="http://www.hdu.edu.cn" target="_blank">杭州电子科技大学</a></small>
                </li>
                <li>更多...</li>
            </ul>
        </div>
        <div>
            <h3  class="header"><i class="icon-link"></i> 链接</h3>
            <ul>

                <li><a target="_blank" href="http://www.f2es.com/">f2es</a> </li>

                <li><a target="_blank" rel="nofollow" href="http://www.xushichao.com/">only</a> </li>

                <li><a target="_blank" rel="nofollow" href="http://www.notonlysuccess.com/">shǎ崽 </a> </li>

                <li><a target="_blank" rel="nofollow" href="http://qilei.org/">飞鱼</a> </li>

                <li><a target="_blank" rel="nofollow" href="http://www.zerob13.in/">混沌的云</a> </li>

                <li><a target="_blank" rel="nofollow" href="http://i.wanz.im/">丸子</a> </li>

            </ul>
        </div>

    </div>

</div>



